<template>
  <div class="container">
    <div class="card card-default">
      <div class="card-header">User Dashboard</div>

      <div class="card-body">
        Bienvenue
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    data() {
      return {
        //
      }
    },
    components: {
      //
    },
    created(){
    this.$store.commit('SET_LAYOUT', 'app-layout');
  },
  }
</script>