<template>
    
        <v-card class="elevation-12 mx-auto" width="90%" max-width="600px">
            <v-toolbar
                color="primary"
                dark
                flat
            >
                <v-toolbar-title>Add Pincode</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-form>
                    <v-text-field
                        label="Pincode 1"
                        prepend-icon="mdi-map-marker"
                        type="text"
                        v-model="data.pincode_1"
                    ></v-text-field>

                    <v-text-field
                        label="Pincode 2"
                        prepend-icon="mdi-map-marker"
                        type="text"
                        v-model="data.pincode_2"
                    ></v-text-field>

                    <v-text-field
                        label="Pincode 3"
                        prepend-icon="mdi-map-marker"
                        type="text"
                        v-model="data.pincode_3"
                    ></v-text-field>

                    <v-text-field
                        label="Pincode 4"
                        prepend-icon="mdi-map-marker"
                        type="text"
                        v-model="data.pincode_4"
                    ></v-text-field>

                    <v-text-field
                        label="Pincode 5"
                        prepend-icon="mdi-map-marker"
                        type="text"
                        v-model="data.pincode_5"
                    ></v-text-field>

                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.prevent="addpincode">Save</v-btn>
            </v-card-actions>
        </v-card>
    
</template>

<script>
  export default {
    data() {
      return {
        data: {
            pincodes: [],
            pincode_1: '',
            pincode_2: '',
            pincode_3: '',
            pincode_4: '',
            pincode_5: '',
        }
      }
    },
    created(){
      this.$store.commit('SET_LAYOUT', 'app-layout')
    },

    mounted() {
      //
    },

    methods: {
      addpincode() {
          if (this.data.pincode_1 != '') {
              this.data.pincodes.push(this.data.pincode_1);
          }
          if (this.data.pincode_2 != '') {
              this.data.pincodes.push(this.data.pincode_2);
          }
          if (this.data.pincode_3 != '') {
              this.data.pincodes.push(this.data.pincode_3);
          }
          if (this.data.pincode_4 != '') {
              this.data.pincodes.push(this.data.pincode_4);
          }
          if (this.data.pincode_5 != '') {
              this.data.pincodes.push(this.data.pincode_5);
          }
        axios.post('/users/save-pincode', this.data).then(response => {
					    this.$router.push('/user/dashboard');
					}).catch(error => {
						if (error.response.status === 422) {
						console.log("error");
						}
					});
      }
    }
  }
</script>
