<template>
        <v-card class="elevation-12 mx-auto" width="90%" max-width="400px">
            <v-toolbar
                color="primary"
                dark
                flat
            >
                <v-toolbar-title>Verify Email OTP</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-form>
                    <v-text-field
                        label="Enter Email OTP"
                        prepend-icon="mdi-lock"
                        type="text"
                        v-model="data.email_otp"
                    ></v-text-field>

                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.prevent="verifyotp">Verify OTP</v-btn>
            </v-card-actions>
        </v-card>
</template>

<script>
  export default {
    data() {
      return {
        data: {
            email_otp: null,
        }
      }
    },
    created(){
      this.$store.commit('SET_LAYOUT', 'app-layout')
    },

    mounted() {
      //
    },

    methods: {
      verifyotp() {
        axios.post('/users/verify-email', this.data).then(response => {
					    this.$router.push('/user/addpincode');
					}).catch(error => {
						if (error.response.status === 422) {
						console.log("error");
						}
					});
      }
    }
  }
</script>
