<template>
    <v-col
        cols="12"
        sm="8"
        md="4"
    >
        <v-card class="elevation-12">
            <v-toolbar
                color="primary"
                dark
                flat
            >
                <v-toolbar-title>Login form</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-form>
                    <v-text-field
                        label="Login"
                        prepend-icon="mdi-account"
                        type="text"
                        v-model="email"
                    ></v-text-field>

                    <v-text-field
                        id="password"
                        label="Password"
                        v-model="password"
                        prepend-icon="mdi-lock"
                        type="password"
                    ></v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.prevent="login">Login</v-btn>
            </v-card-actions>
        </v-card>
    </v-col>
</template>

<script>
  export default {
    data() {
      return {
        email: null,
        password: null,
        has_error: false
      }
    },
    created(){
      this.$store.commit('SET_LAYOUT', 'auth-layout')
    },

    mounted() {
      //
    },

    methods: {
      login() {
        // get the redirect object
        var redirect = this.$auth.redirect()
        var app = this
        this.$auth.login({
          params: {
            email: app.email,
            password: app.password
          },
          success: function() {
            if(this.$auth.user().email_verified_at != null){
              if(this.$auth.user().role_id === 1)
                {
                  this.$router.push({path: '/admin/dashboard'});
                }
                if(this.$auth.user().role_id === 2)
                {
                  this.$router.push({path: '/user/dashboard'});
                }
              }else{
                this.$router.push({path: '/user/emailverify'});
              }
            
          },
          error: function() {
            app.has_error = true
          },
          rememberMe: true,
          fetchUser: true
        })
      }
    }
  }
</script>
