<template>
    <v-col
        cols="12"
        sm="8"
        md="4"
    >
        <v-card class="elevation-12">
            <v-toolbar
                color="primary"
                dark
                flat
            >
                <v-toolbar-title>Sign Up form</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-form>
                    <v-text-field
                        label="Full Name"
                        prepend-icon="mdi-account"
                        type="text"
                        v-model="name"
                    ></v-text-field>

                    <v-text-field
                        label="Email"
                        prepend-icon="mdi-email"
                        type="text"
                        v-model="email"
                    ></v-text-field>

                    <v-text-field
                        label="Mobile Number"
                        prepend-icon="mdi-phone"
                        type="text"
                        v-model="phone"
                    ></v-text-field>

                    <v-text-field
                        label="Age"
                        prepend-icon="mdi-calendar-account"
                        type="text"
                        v-model="age"
                    ></v-text-field>

                    <v-text-field
                        id="password"
                        label="Password"
                        v-model="password"
                        prepend-icon="mdi-lock"
                        type="password"
                    ></v-text-field>

                    <v-text-field
                        id="password_confirmation"
                        label="Confirm Password"
                        v-model="password_confirmation"
                        prepend-icon="mdi-lock-check"
                        type="password"
                    ></v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.prevent="register">Register</v-btn>
            </v-card-actions>
        </v-card>
    </v-col>
</template>
<script>
  export default {
    data() {
      return {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
        phone: '',
        age: '',
        has_error: false,
        error: '',
        errors: {},
        success: false,
        role_id: 2,
      }
    },
    created(){
      this.$store.commit('SET_LAYOUT', 'auth-layout')
    },

    methods: {
      register() {
        var app = this
        this.$auth.register({
          data: {
            name: app.name,
            email: app.email,
            phone: app.phone,
            age: app.age,
            password: app.password,
            password_confirmation: app.password_confirmation,
            role_id: app.role_id,
          },
          success: function () {
            app.success = true
            this.$router.push({name: 'login', params: {successRegistrationRedirect: true}})
          },
          error: function (res) {
            console.log(res.response.data.errors)
            app.has_error = true
            app.error = res.response.data.error
            app.errors = res.response.data.errors || {}
          }
        })
      }
    }
  }
</script>
